<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="
    {{- with .Page.Description -}}
      {{ . }}
    {{- else -}}
      {{ .Site.Params.description }}
    {{- end -}}
  ">
  <meta name="keywords" content="
  {{- with .Params.keywords -}}
   {{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
  {{- end -}}
  ">
  <meta property="og:title" content="{{ .Params.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ .RelPermalink }}" />
  <meta property="og:image" content="{{ .Params.image }}" />
  <title>
    {{- if .Page.IsHome -}}
      {{ .Site.Title }}
    {{- else -}}
      {{ .Title }} -- {{ .Site.Title }}
    {{- end -}}
  </title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>